name: snowplow_tracker
description: A package for tracking Snowplow events in Flutter apps
version: 0.8.0
homepage: https://github.com/snowplow/snowplow-flutter-tracker
repository: https://github.com/snowplow/snowplow-flutter-tracker

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  js: ^0.7.1
  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  http: "1.2.0"

flutter:
  plugin:
    platforms:
      android:
        package: com.snowplowanalytics.snowplow_tracker
        pluginClass: SnowplowTrackerPlugin
      ios:
        pluginClass: SnowplowTrackerPlugin
      web:
        pluginClass: SnowplowTrackerPluginWeb
        fileName: snowplow_tracker_plugin_web.dart
