name: snowplow_tracker
description: A package for tracking Snowplow events in Flutter apps
version: 0.5.0
homepage: https://github.com/snowplow/snowplow-flutter-tracker
repository: https://github.com/snowplow/snowplow-flutter-tracker

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  js: ^0.6.4
  uuid: ^3.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
  http: ^0.13.5

flutter:
  plugin:
    platforms:
      android:
        package: com.snowplowanalytics.snowplow_tracker
        pluginClass: SnowplowTrackerPlugin
      ios:
        pluginClass: SnowplowTrackerPlugin
      web:
        pluginClass: SnowplowTrackerPluginWeb
        fileName: snowplow_tracker_plugin_web.dart
